/* font-size with breakpoints */
$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
  )
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);
