.contact {
  ul {
    // padding: 0;
    li {
      list-style: none;
      margin-block: 0;
      margin-inline: 0;

      p {
        margin: 5px 0;
      }
    }
  }

  img {
    width: 100%;
  }

  .contact-divider {
    height: 50px;
  }

  textarea {
    height: 200px;
  }

  #map {
    height: 400px;
    width: 100%;
  }
}
