.home {
  .form-control-search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;

    &:focus {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-right-width: $border-width;
    }
  }

  .button-form-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    background-color: $color-text;
    color: $color-focus;
  }

  div.form-floating {
    position: static;
  }

  .card {
    position: static;
    background-color: $color-focus-light;
    border: 3px solid $bg-brown;
    border-radius: $border-radius-lg;
    color: $color-text;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-offer-bg;
    }

    .img-wrapper {
      height: 200px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .carousel-indicators {
      background-color: black;
      border-radius: $border-radius;
    }
  }

  .btn.page-number-btn {
    min-width: 50px;
    color: $color-focus;
  }

  .btn.active {
    background-color: $color-text;
    font-size: larger;
  }
}
