.single-listing {
  .carousel-wrapper {
    height: 100%;

    .carousel-item {
      height: 250px;
    }
  }

  ul.object-details-wrapper {
    list-style: none;
    padding: 0;

    .object-detail-element {
      margin: 0;
    }
  }

  .give-bid-container {
    height: fit-content;
  }
}
