/* breakpoint sm */
@media (min-width: 576px) {
  .home,
  .hero,
  .my-credits {
    .element-rounded {
      border-radius: $border-radius;
    }

    .card {
      .img-wrapper {
        height: 130px;
      }
    }
  }

  .single-listing {
    .carousel-and-description-wrapper {
      // min-height: 300px;

      .carousel-wrapper {
        .carousel-item {
          height: 50%;
        }
      }
    }
  }

  .contact {
    ul {
      padding: 0;
    }
  }
}

@media (min-width: 992px) {
  .home {
    .card {
      .img-wrapper {
        height: 150px;
      }
    }
  }

  .contact {
    .contact-img-wrapper {
      height: 300px;
    }
  }
}
