/* breakpoint sm */
@media (min-width: 576px) {
  .home {
    .element-rounded {
      border-radius: $border-radius;
    }

    .card {
      .img-wrapper {
        height: 130px;
      }
    }
  }

  .contact {
    ul {
      padding: 0;
    }
  }
}

@media (min-width: 992px) {
  .home {
    .card {
      .img-wrapper {
        height: 150px;
      }
    }
  }

  .contact {
    .contact-img-wrapper {
      height: 300px;
    }
  }
}
