* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  flex: 1;
}

.main {
  flex: 1;
}

p a,
a.nav-link {
  text-decoration: none;
  transition: $transition;
  cursor: pointer;
  color: $color-text;

  &:hover {
    color: $color-hover;
  }
}

input.form-control,
input.form-control:focus,
select.form-select,
select.form-select:focus,
textarea.form-control,
textarea.form-control:focus {
  background-color: $color-text;
}

.bg-brown {
  background-color: $color-hero;
}

.bg-focus-light {
  background-color: $color-focus-light;
}

.color-avatar-header {
  background-color: $color-avatar-header;
}

.bg-contact,
.bg-about,
.bg-my-credits {
  width: 100%;
  background-color: $color-offer-bg;
}

.header-focus-bg,
.focus-bg {
  background-color: $color-focus;
}

.color-headers {
  background-color: $color-headers;
}

.hero,
.home {
  .support-message-wrapper,
  .highlight-element {
    max-width: 490px;
  }

  .highlight-element {
    margin: 20px auto;
    width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.fa-search {
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-data-container {
  .avatar-and-name-container {
    height: 100%;

    .avatar-container {
      height: 70px;
      width: 70px;
      margin-bottom: 10px;

      .avatar-name-paragraph {
        height: 20%;
      }
    }
  }

  .credit-paragraph {
    margin: 0;
  }

  .icon-credit-container {
    height: 20px;
    width: 20px;
  }
}
